.promo {
  background: url(../img/bg-2.jpg) no-repeat 50% 50%;
  background-size: cover;
  height: 500px;
  & .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  &__info {
    font-family: 'Lato', sans-serif;
    color: $c-white;
    &-title{
      margin: 0;
      padding-top: 168px;
      font-size: 45px;
      line-height: 39px;
      letter-spacing: 1.8px;
      text-transform: uppercase;
    }
    &-text {
      display: block;
      margin-top: 12px;
      font-size: 22px;
      font-weight: 100;
      line-height: 28px;
    }
    &-link {
      display: block;
      margin-top: 66px;
      font-size: 18px;
      line-height: 13px;
      color: $c-white;
      text-decoration: underline;
    }
  }
  &__img {
    align-self: flex-end;
    padding-right: 100px;
  }
}
