$c-white:         #ffffff;
$c-black:         #222222;
$c-medium-gray:   #afafaf;
$c-gray:          #676767;
$c-light-gray:    #e9e9e9;
$c-blue:          #005494;
$c-red:           #eb1728;
$c-dark-black:    #000000;
$c-light-white:   #fffffe;
$c-lighter-white: #fffefe;
