@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Thin.ttf?-fvbane');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Regular.ttf?-fvbane');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Medium.ttf?-fvbane');
  font-weight: 500;
  font-style: normal;
}
